body{
    background: #cfcbcb;
    font-family: arial;
    background-image: url("laptop.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    }
.aboutme{
    
}


